# Laravel directories & files
app/
bootstrap/
config/
database/
public/
resources/
routes/
storage/
tests/
vendor/
.env
.env.*
composer.json
composer.lock
phpunit.xml
vite.config.js
artisan

# Dev / Tooling
.git/
.github/
.gitignore
.editorconfig
node_modules/
*.log
